h2 {
  background: green;
  padding: 1rem;
  color: white;
}
h2::before {
  content: "🌱";
  display: inline-block;
  padding-right: 0.4rem;
}
h2 a {
  color: white;
}
h2 a:hover {
}

.spreadsheet {
  background: rgb(178, 244, 177);
  padding: 0.2rem 0.8rem;
  border-radius: 0.2rem;
}
.spreadsheet::before {
  content: "📈";
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 0.6rem;
}
